{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Orell Hürzeler" />
	<meta name="description" content="Tech Base">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Tech Base</title>
	
	<!-- Royal Preloader CSS -->
	<link href=" {% static 'css/royal_preloader.css' %}" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src=" {% static 'js/parallax.min.js' %}"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src=" {% static 'js/royal_preloader.min.js' %}"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href=" {% static 'css/ionicons.min.css' %}" rel="stylesheet">
	<link href=" {% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet">
	<link href=" {% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href=" {% static 'css/logoiconfont.css' %}" rel="stylesheet">
	<link href=" {% static 'css/style.css' %}" rel="stylesheet" title="main-css">

	<!-- RS5.0 Main Stylesheet -->
	<link rel="stylesheet" type="text/css" href=" {% static 'revolution/css/settings.css' %}">
	 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href=" {% static 'revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'revolution/css/navigation.css' %}">	

</head>


<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
	<div id="royal_preloader"></div>
	<!-- Begin Header -->
	<header>
		<!-- Begin Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <a href="{% url 'home' %}" class="navbar-left"><img src="{% static 'img/logo.png' %}" height="70" width="70"></a>
						</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'events' %}">Events</a></li>
							<li><a href="#services">News</a></li>
							<li><a href="{% url 'boards' %}">Forum</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<!-- End Navigation -->
	</header>
    <!-- End Header -->
    

    {% block content %}
    {% endblock %}






<!-- Begin Footer -->
<footer class="footer-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <span class="icon-handle-streamline-vector logo"></span>
                    <h2 class="theme-title">Particles<span class="theme-title-smaller">Theme</span></h2>
                    <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                    <hr>
                    <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                    <p class="no-margin">&copy; Denis Samardjiev</p>
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->
    <!-- Begin Footer -->

    <!-- Javascript Files -->
    <script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
        /* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
                zoomControl: false,
                scaleControl: false,
                scrollwheel: false,
                disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
    <script type="text/javascript" src=" {% static 'js/jquery.mixitup.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/form-validator.min.js' %}"></script>  
    <script type="text/javascript" src=" {% static 'js/jquery.inview.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/jquery.countTo.js' %}"></script>  
    <script type="text/javascript">
        /* ---- Counter (our count) ---- */
        $('#ourcount').one('inview', function(event, isInView) {
            if (isInView) {
                $('.timer').countTo({speed: 3000});
            }
        });
    </script>
    <script type="text/javascript" src=" {% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/scrollreveal.min.js' %}"></script>

    <!-- Slider Revolution JS -->
    <script type="text/javascript" src=" {% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <!-- Slider Revolution Extensions (Load Extensions only on Local File Systems The following part can be removed on Server for On Demand Loading) -->	
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/main.js' %}"></script>

    <!-- Slider Revolution Main -->
    <script type="text/javascript">
    jQuery(document).ready(function() { 
        jQuery("#slider1").revolution({
            sliderType:"standard",
            startDelay:2500,
            spinner:"spinner2",
            sliderLayout:"auto",
            viewPort:{
                enable:false,
                outof:'wait',
                visible_area:'100%'
            }
            ,
            delay:9000,
            navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                arrows: {
                    style:"erinyen",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:false,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                    left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    },
                    right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    }
                }
                ,
                touch:{
                    touchenabled:"on",
                    swipe_treshold : 75,
                    swipe_min_touches : 1,
                    drag_block_vertical:false,
                    swipe_direction:"horizontal"
                }
                ,
                bullets: {
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    style:"hesperiden",
                    hide_onleave:false,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    direction:"horizontal",
                    h_align:"center",
                    v_align:"bottom",
                    h_offset:0,
                    v_offset:30,
                    space:5
                }
            },
            gridwidth:1240,
            gridheight:497 
        }); 
    }); 
    </script>
    <script type="text/javascript" src=" {% static 'js/main.js' %}"></script>
</body>
</html>