{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>

	<!-- Begin Intro -->
	<section id="ideology">

      <!-- Begin Hello Intro -->
      <div id="hello-intro" class="pt60 pb60">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-3">
              <h2 class="no-margin rotateLeftReveal">Hello.</h2>
            </div>
            <div class="col-lg-10 col-sm-9 mt30-xs">
              <h3 class="no-margin rightReveal">We want to rescue you from boring evenings and weak parties. <strong>Check ot the events near you, get your friends & dance!</strong>.</h3>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.div -->
      <!-- End Hello Intro -->
  
      <!-- Begin Our Process Title -->
      <div id="our-process-title" class="pt30 pb30">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h4 class="no-margin">What is your need?</h4>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.div -->
      <!-- End Our Process Title -->
  
      <!-- Begin Our Process -->
      <div id="our-process">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 process-box text-center pt50 pb40">
              <div class="leftReveal">
                <div class="process-intro">
                  <div><span class="process-icons pe-7s-users rotateBottomReveal"></span></div>
                  <h2>Map</h2>
                </div>
                <div class="process-content">
                  <div><span class="process-icons pe-7s-users"></span></div>
                  <h2 class="mt15 mb20">Map</h2>
                  <p class="no-margin">Find events near you.</p>
                </div>
              </div><!-- /.animation -->
            </div><!-- /.column -->
            <div class="col-sm-6 col-md-6 col-lg-6 process-box text-center pt50 pb40">
              <div class="bottomReveal">
                <div class="process-intro">
                  <div><span class="process-icons pe-7s-diamond rotateBottomReveal"></span></div>
                  <h2>Calendar</h2>
                </div>
                <div class="process-content">
                  <div><span class="process-icons pe-7s-diamond"></span></div>
                  <h2 class="mt15 mb20">Calendar</h2>
                  <p class="no-margin">Find events in the calendar.</p>
                </div>
              </div><!-- /.animation -->
            </div><!-- /.column -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.div -->
      <!-- End Our Process -->
    </section><!-- /.section -->
    <!-- End Intro -->


    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Events</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Events</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>
                <li class="breadcrumb-item"><a href="{% url 'singleevent' event.pk %}">{{ event.name }}</a></li>
                <small class="text-muted d-block">{{ event.end_time}}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}