{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Events</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Events</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>
                {{ event.name }}
                <small class="text-muted d-block">{{ event.end_time}}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}