{% extends 'base.html' %}
{% load static %}



{% block content %}


  <!-- Begin About -->
  <section id="about" class="background1 section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 section-title text-center">
            <h2>{{ event.name }}</h2>
            <span class="section-divider"></span>
          </div><!-- /.column -->

        <div class="row mb30">
            <div class="col-sm-9 leftReveal">
              <h5 class="heading-1 mb20">Description</h5>
              <p class="lead no-margin" id="x">{{ event.description }}</p>
              <script>
                  var messagetoSend = document.getElementById('x').value.replace(/\n/g, "<br />");
                  alert(messagetoSend);
                  </script>
            </div><!-- /.column -->
            <div class="col-sm-3 mt30-xs rightReveal">
              <h5 class="heading-1 mb20">Quote</h5>
              <p class="no-margin text-small"><i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus quibusdam."</i></p>
            </div><!-- /.column -->
          </div><!-- /.row -->
        </div><!-- /.row -->

        <div class="row mb15">
          <div class="col-sm-5 leftReveal">
            <h5 class="heading-1 mb20">Our Trade</h5>
            <h3 class="mb15 no-margin-top">Designing, Developing, and <br>Innovating for people like you...</h3>
            <p class="no-margin text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tristiq enim. Integer eu <strong>neque</strong> arcu. Aenean sed odio nibh. Cras imperdiet, arcu eget dictum vestibulum elit.</p>
          </div><!-- /.column -->
          <div class="col-sm-7 mt30-xs rightReveal">
            <h5 class="heading-1 mb20">How we started it</h5>
            <span class="icon-handle-streamline-vector logo-about"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est urna, imperdiet eget sem at, pellentesque cursus elit. Etiam id ante et elit interdum sollicitudin. Cras imperdiet, arcu eget dictum vestibulum elit.</p>
            <p>Curabitur egestas interdum ex, sed commodo ipsum consectetur vitae. Nulla auctor ante erat. Class aptent taciti sociosqu nostra enean sed.</p>
          </div><!-- /.column -->
        </div><!-- /.row -->

      </div><!-- /.container -->
    </section><!-- /.section -->
    <!-- End About -->


</body>



{% endblock %}